body {
    text-align: center;
    color: rgba( 49, 21, 87,1);
}

h1 {
    font-weight: normal;
}

.county-interior :hover {
  fill: black; 
}

.state-borders {
  fill: none;
  stroke: white;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#tooltip {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 0.75em;
    text-align: left;
}

footer {
    color: rgba( 49, 21, 87,1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-link {
    text-decoration: none;
    font-weight: bold;
}